pkgbase = pypiserver
	pkgdesc = Minimal PyPI server for uploading and downloading packages with pip/easy_install
	pkgver = 2.0.0
	pkgrel = 1
	url = https://github.com/pypiserver/pypiserver
	arch = any
	license = MIT
	license = Zlib
	checkdepends = python-httpx
	checkdepends = python-passlib
	checkdepends = python-pip
	checkdepends = python-pytest
	checkdepends = python-watchdog
	checkdepends = python-webtest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-git
	makedepends = python-wheel
	depends = python
	depends = python-pip
	optdepends = python-passlib: for authentication
	optdepends = python-setuptools: for new - still inactive - config module
	optdepends = python-waitress: for waitress support
	optdepends = python-watchdog: for cache
	source = pypiserver-2.0.0.tar.gz::https://github.com/pypiserver/pypiserver/archive/refs/tags/v2.0.0.tar.gz
	validpgpkeys = 0BFB950A1851C0E7EE46D9BCAF5C892A5573ABED
	sha512sums = 320d0439b44c669bc6a13621be83b4b87973a51e34b45bfaef3073ab4f85da35a6c852ba26a1668517e68b758827b33eb03d3e09fea7c805fbd6307adec086d5
	b2sums = e7a3a1abf7727bd343c31fe0749a7575042bb037be08da12f1a3690b397bb617bf910c2acb556e5b23e01770916ecbc58128b198ae34efec7d4b993a3bc5d74b

pkgname = pypiserver
