pkgbase = pypiserver
	pkgdesc = Minimal PyPI server for uploading and downloading packages with pip/easy_install
	pkgver = 2.4.0
	pkgrel = 1
	url = https://github.com/pypiserver/pypiserver
	arch = any
	license = MIT
	license = Zlib
	checkdepends = python-httpx
	checkdepends = python-passlib
	checkdepends = python-pip
	checkdepends = python-pytest
	checkdepends = python-watchdog
	checkdepends = python-webtest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-git
	makedepends = python-wheel
	depends = python
	depends = python-pip
	optdepends = python-passlib: for authentication
	optdepends = python-setuptools: for new - still inactive - config module
	optdepends = python-waitress: for waitress support
	optdepends = python-watchdog: for cache
	source = pypiserver-2.4.0.tar.gz::https://github.com/pypiserver/pypiserver/archive/refs/tags/v2.4.0.tar.gz
	validpgpkeys = 0BFB950A1851C0E7EE46D9BCAF5C892A5573ABED
	sha512sums = 543f8bf98bface6a6db996c130be5acb19aa31ab85d5d37d9766e132b38713aed1eb0a46c67f767185409bf8c4eaef6fdfdcb5137af2651b5b6191032b5c5268
	b2sums = 99254c4cbc4290a80a2e272c1932f91e33aa7ee68a28463faf2dbad27fca505c52697aeaea812ae7aff6b0ee5e109d7c535f0d6c4bbe3af804de29a5ccabff53

pkgname = pypiserver
