pkgbase = scc
	pkgdesc = Sloc, Cloc and Code: a very fast accurate code counter with complexity calculations and COCOMO estimates written in pure Go
	pkgver = 3.3.2
	pkgrel = 1
	url = https://github.com/boyter/scc
	arch = x86_64
	arch = i386
	license = MIT
	license = Unlicense
	makedepends = go
	depends = glibc
	source = scc-3.3.2::https://github.com/boyter/scc/archive/v3.3.2.tar.gz
	sha256sums = 2bbfed4cf34bbe50760217b479331cf256285335556a0597645b7250fb603388

pkgname = scc
