pkgbase = git-machete
	pkgdesc = Probably the sharpest git repository organizer & rebase/merge workflow automation tool you've ever seen
	pkgver = 3.26.2
	pkgrel = 1
	url = https://github.com/VirtusLab/git-machete
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = git
	depends = python
	optdepends = bash: bash completion
	optdepends = fish: fish completion
	optdepends = zsh: zsh completion
	source = git-machete-3.26.2.tar.gz::https://github.com/VirtusLab/git-machete/archive/v3.26.2.tar.gz
	sha256sums = 956a48a8c676ece9ca65a4315e544938cb29d74feef00cc999ebf3084d252dfc

pkgname = git-machete
